apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: volume-group-operator
    app.kubernetes.io/managed-by: volume-group-operator
    app.kubernetes.io/name: clusterrole
  name: volume-group-operator
rules:
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - csi.ibm.com
    resources:
      - volumegroupclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - csi.ibm.com
    resources:
      - volumegroupcontents
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - csi.ibm.com
    resources:
      - volumegroups
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - csi.ibm.com
    resources:
      - volumegroups/finalizers
    verbs:
      - update
  - apiGroups:
      - csi.ibm.com
    resources:
      - volumegroups/status
    verbs:
      - get
      - patch
      - update
